{% extends 'base.html' %}


{% block content %}


	<div class="card mx-auto" style="max-width: 380px; margin-top:10px;">

      <div class="card-body">
      <h4 class="card-title mb-4">Reset Password</h4>
      {% include 'partials/notification.html' %}
      <form action="{% url 'reset_password' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
				<label>New Password</label>
			 <input type="password" name="password" class="form-control" placeholder="Create Password" >
          </div> 
          <div class="form-group">
				<label>Confirm New Password</label>
			<input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" >
          </div> 
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Reset password</button>
          </div>  
      </form>
      </div> 
    </div>  

     <p class="text-center mt-4">Don't have account? <a href="{% url 'registration' %}">Sign up</a></p>
     <br>
{% endblock %}
